{% extends "home.html" %}

{% block title %}Playground{% endblock %}

{% block script %}
  // constants for text generation eta
  var TIME_CONSTANT = 3;
  var TIME_PER_TOKEN = 0.12;

  var EXAMPLES = {
    "news": {
      "prompt": "VECTOR INSTITUTE DEVELOPS ARTIFICIAL INTELLIGENCE FOR HEALTH RECOMMENDATIONS",
      "length": 256
    },
    "arxiv": {
      "prompt": "Abstract\n\nWe introduce large language models, models that",
      "length": 256
    },
    "chatbot": {
      "prompt": "A chat between a teacher and student who wants to learn about tacos.\n\nTeacher: Hi there. What would you like to learn about today?\nStudent:",
      "length": 128
    },
    "question": {
      "prompt": "Question: What color is the sky?\nAnswer: blue\n\nQuestion: Who was the first prime minister of Canada?\nAnswer: Robert Walpole\n\nQuestion: Who is the prime minister in 2022?\nAnswer:",
      "length": 64
    },
    "poetry": {
      "prompt": "A sonnet about life\n\n",
      "length": 128
    },
    "none": {
      "prompt": "",
      "length": 128,
      "temperature": 1,
      "top-p": 0.9,
      <!-- "top-k": 0.0, -->
      <!-- "repetition-penalty": 1.0, -->
      <!-- "num-return-sequences": 1 -->
    }
  };

  function setPrompt(name) {
    if (name == "none") {
      $("#textbox-input").html(EXAMPLES[name]["prompt"]);
      $("#response-length-select").val(EXAMPLES[name]["length"]);
      $("#response-length-value").val(EXAMPLES[name]["length"]);
      $("#temperature-select").val(EXAMPLES[name]["temperature"]);
      $("#temperature-value").val(EXAMPLES[name]["temperature"]);
      $("#top-p-select").val(EXAMPLES[name]["top-p"]);
      $("#topp-value").val(EXAMPLES[name]["top-p"]);
      <!-- $("#top-k-select").val(EXAMPLES[name]["top-k"]); -->
      <!-- $("#repetition-penalty-select").val(EXAMPLES[name]["repetition-penalty"]); -->
      <!-- $("#repetition-penalty-value").val(EXAMPLES[name]["repetition-penalty"]); -->
      <!-- $("#num-return-sequence-select").val(EXAMPLES[name]["num-return-sequences"]); -->
    }
    else {
      $("#response-length-select").val(EXAMPLES[name]["length"]);
      $("#response-length-value").val(EXAMPLES[name]["length"]);
      $("#textbox-input").html(EXAMPLES[name]["prompt"]);
    }
  };

  // model instances request
  function loadInstances(){
    $.ajax({
      url : "/models/instances",
      type : "GET",
      dataType: "json",
      success : function (data){
        for (let model in data) {
          console.log(data[model]);
          var currentModel= $("[name='"+data[model].name+"']")
          if (data[model].state == "ACTIVE"){
            currentModel.attr("title", "Active service!");
            currentModel.prop('disabled', false);
            currentModel.text(data[model].name);
            currentModel.attr("name", data[model].name);
            currentModel.val(data[model].id);
            currentModel.attr("id", data[model].id);
          }
          else if (data[model].state){
            currentModel.attr("title", "Inactive model: currently servicing");
            currentModel.prop('disabled', true);
            currentModel.text(data[model].name + " ("+data[model].state+")");
          }
          else{
            var selectedModel= $("#model-select option:selected");
            if (selectedModel.val() == data[model].name){
              $("#model-select").val('');
            }
            currentModel.attr("title", "Inactive model: please start its model service!");
            currentModel.prop('disabled', true);
            currentModel.text(model + " (INACTIVE)");
          }
        }
      }
    });
  }

  loadInstances() // fetch upon page refresh

  setInterval(function(){
    loadInstances() // fetch model instances every 10 seconds
  }, 10000);

  $(document).ready(function () {
    $("#text-submit").submit(function (event) {
      event.preventDefault();
      loadAnimation();
      getPromptText();
      var selectedModel = $("#model-select").find(":selected").val();
      var formData = getFormData();
      var submitData = formatFormData(formData);
      $.ajax({
        url: "models/instances/"+selectedModel+"/generate",
        type: "POST",
        headers: {
          "Content-type": "application/json",
          "Authorization": "Bearer " + localStorage.getItem("accessToken")
        },
        data: JSON.stringify(submitData),
      }).done(function (data) {
        console.log(data);
        loadCompleteAnimation();
        var generationData= data['generation'];
        parseData(generationData, selectedModel);
      }).fail(function (data) {
          console.log(data);
          if (400 <= data.status && data.status <= 499) {
            localStorage.removeItem("accessToken");
            location.href = '/login';
          }
          loadFailAnimation();
      });
    });
  });

  function formatFormData(formData) {
    var promptData = formData.prompt;
    if (formData.stop.length == 0) {
      delete formData.stop;
    }
    delete formData.prompt;
    var submitData = {"prompts":promptData, "generation_config":formData};
    console.log(submitData);
    return submitData;
  };

  function getFormData() {
    unstructuredFormData= $("#text-submit").serializeArray();
    submissionData= {};
    $.map(unstructuredFormData, function( input, i ) {
      submissionData[input.name] = input.value;
    });
    return submissionData
  };

  function parseData(data, selectedModel){
    //TODO: identify ways to handle intermediate activation data
    selectedModelName= $("#"+selectedModel).attr("name");
    $("span").removeClass("generated-text-font");
    var text= data['tokens'][0];
    var logProbTokens= data['logprobs'][0];
    textWrapper= $("<span></span>");
    try {
      var logProbs= [];
      logProbTokens.forEach(token =>{
        var logProbPercentage= (Math.exp(token)*100).toFixed(3);
        logProbs.push(logProbPercentage);
      });
    }
    catch (err) {
      console.log("Log probability error: " + err);
    }
    finally {
      for(let i=0; i<text.length; i++){
        var textPanel= `
          <div class="font-weight-light">
            <h5>${selectedModelName}</h5>
            <p>Log Probabilities</p>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between bg-light">
                <strong class="pr-3">${text[i]}</strong>
                <span>${logProbs[i]}%</span>
              </li>
              <!-- <li class="list-group-item d-flex justify-content-between">
                <strong class="pr-3">Token 2</strong>
                <span>X%</span>
              </li> -->
            </ul>
          </div>`;
        labelledText= $("<span class='generated-text' tabindex='0' data-trigger='hover' data-html='true' data-placement='bottom' data-content='"+textPanel+"'></span>").text(text[i]);
        textWrapper.append(labelledText.popover());
      }
      textWrapper.addClass("generated-text-font");
      $("#textbox-input").append(textWrapper);
    }
  };

  function loadAnimation() {
    getTextGenerationETA();
    document.getElementById("loader").style.display = "inline";
    document.getElementById("submit-button").style.display = "none";
  };

  function getTextGenerationETA() {
    var responseLength = $("#response-length-select").val();
    var eta = Math.round(TIME_PER_TOKEN * responseLength + TIME_CONSTANT);
    $("#eta").text(eta);
  }

  function loadCompleteAnimation() {
    document.getElementById("loader").style.display = "none";
    document.getElementById("submit-button").style.display = "inline";
    document.getElementById("textbox-input").style.backgroundColor = "#f6fef6";
  };

  function loadFailAnimation() {
    document.getElementById("loader").style.display = "none";
    document.getElementById("submit-button").style.display = "inline";
    document.getElementById("textbox-input").style.backgroundColor = "#ffebeb";
  };

  function clearText() {
    setPrompt("none");
    document.getElementById("textbox-input").style.backgroundColor = "transparent";
  };

  function getPromptText() {
    document.getElementById("textbox").value= document.getElementById("textbox-input").outerText;
  };

  function updateScrollValue(val, id) {
    document.getElementById(id).value = val;
  };

  function updateModuleNames(modelValue) {
    $("#module-name-select").empty();
    $.ajax({
      url: "/models/instances/"+modelValue+"/module_names",
      type: "GET",
      headers: {
        "Authorization": "Bearer " + localStorage.getItem("accessToken")
      },
      success: function(data) {
        for(let i=0; i<data['module_names'].length; i++){
          moduleNameOption= $("<option value="+data['module_names'][i]+"></option>").text(data['module_names'][i])
          $("#module-name-select").append(moduleNameOption);
        }
      }
    });
  };

  function copyAuthKey() {
    authKey= localStorage.getItem("accessToken");
    console.log("API Key: " + authKey);
    $("#auth-key").attr("data-content", authKey);
  };

  window.onload = function () {
    if (localStorage.getItem("accessToken") == null) {
      location.href = "/login"
    }
    document.getElementById("loader").style.display = "none";
  };

  $(function () {
    $('[data-toggle="popover"]').popover({
          delay: {show:1000}
      })
  })
{% endblock %}

{% block style %}
  .placeholder:empty:before {
    content: attr(data-placeholder);
    opacity: 0.5;
  }
  .textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    overflow: auto;
    resize: vertical;
    white-space:pre-wrap;
    height:65vh;
  }
  .parameter-list {
    overflow-y: scroll;
    height: 70vh;
  }
  .scrollbar::-webkit-scrollbar {
    width: 2px;
  }
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 8px #0000001a;
  }
  .parameter-list::-webkit-scrollbar-track {
    margin-top: 3vh;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 10px;
    height: 5px;
  }
  .generated-text-font {
    font-weight: bold;
  }
  .generated-text:hover {
    background-color: yellow;
  }
{% endblock %}

{% block body %}
  <div class="mt-3 px-5">
    <div class="row">
      <!-- main column -->
      <div class="col">
        <div class="row-fluid">
          <div class="d-inline-block">
            <h3 class="d-inline-block">Playground</h3>
            <nav class="navbar navbar-expand-sm navbar-light d-inline-block">
              <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleSubNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleSubNavbar">
                  <ul class="nav">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Examples</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href='javascript:setPrompt("news");'><i class="bi bi-newspaper"></i> News</a>
                        <a class="dropdown-item" href='javascript:setPrompt("arxiv");'><i class="bi bi-file-text"></i> ML paper</a>
                        <a class="dropdown-item" href='javascript:setPrompt("chatbot");'><i class="bi bi-chat-left-dots-fill"></i> Chatbot</a>
                        <a class="dropdown-item" href='javascript:setPrompt("question");'><i class="bi bi-question-circle"></i> QA</a>
                        <a class="dropdown-item" href='javascript:setPrompt("poetry");'><i class="bi bi-brush"></i> Poetry</a>
                      </div>
                    </li>
                    <li>
                      <button type="button" class="btn btn-light" id="auth-key" onclick='copyAuthKey();' data-toggle="popover" title="Token Copy" data-toggle="popover"><i class="bi bi-clipboard"></i> API Key</button>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="#">Embed</a>
                    </li> -->
                    <!-- <li class="nav-item">
                      <a class="nav-link disabled" href="#">Benchmark</a>
                    </li> -->
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="row-fluid">
          <form>
            <div class="form-group">
              <textarea class="form-control" id="textbox" name="prompt" placeholder="Enter a prompt..."
                form="text-submit" style="display:none;"></textarea>
              <div class="textarea form-control scrollbar placeholder" id="textbox-input" data-placeholder="Enter a prompt..." contenteditable="true"></div>
            </div>
          </form>
        </div>
      </div>
      <!-- configurations column -->
      <div class="col-sm-3 col-auto scrollbar parameter-list p-4">
        <form id="text-submit" name="submit-form">
          <div class="form-group">
            <label for="model-select">Model</label><i class="bi bi-info-circle small col" tabindex="0" data-toggle="popover" data-trigger="hover" title="Models"
            data-placement="auto"
            data-content="The large language model which will generate text. Some models are suitable for specified tasks."></i>
            <select class="form-control" id="model-select" onchange="updateModuleNames(this.value);" required>
              <option selected id="null-model" disabled value="">Select A Model</option>
              {% for types in all_models %}
                  <option disabled id="" value="{{ types }}" name="{{ types }}" title="Inactive model: please start its model service!">{{ types }} (INACTIVE)</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
              <label for="response-length-select">Response Length</label><i class="bi bi-info-circle small col" tabindex="0" data-toggle="popover" data-trigger="hover" title="Response Length"
              data-placement="top" data-content="An integer to define the maximum number of tokens to generate."></i>
              <input type="number" class="float-right rounded border text-center col-md-4" id="response-length-value" value=128 placeholder=128
                max=512 min=1 oninput="updateScrollValue(this.value, 'response-length-select');">
              <input type="range" class="form-control-range" id="response-length-select" value=128 name="max_tokens" placeholder=128
                max=512 min=1 oninput="updateScrollValue(this.value, 'response-length-value');">
          </div>
          <div class="form-group">
            <label for="temperature-select">Temperature</label><i class="bi bi-info-circle small col" tabindex="0" data-toggle="popover" data-trigger="hover" title="Temperature"
            data-placement="top" data-content="A decimal to define the temperature of the sampling operation."></i>
            <input type="number" class="float-right rounded border text-center col-md-4" id="temperature-value" value=1 placeholder=1
              max=1 step=0.01 min=0.01 oninput="updateScrollValue(this.value, 'temperature-select');">
            <input type="range" class="form-control-range" id="temperature-select" value=1 name="temperature" placeholder=1
              max=1 step=0.01 min=0.01 oninput="updateScrollValue(this.value, 'temperature-value');" contenteditable="true">
          </div>
          <div class="form-group">
            <label for="top-p-select">Top-P</label><i class="bi bi-info-circle small px-1 col"  tabindex="0" data-toggle="popover" data-trigger="hover" title="Top-P"
            data-placement="top"
            data-content="A decimal to define the tokens that are within the sample operation of text generation"></i>
            <input type="number" class="float-right rounded border text-center col-md-4" id="topp-value" value=0.9 placeholder=0.9
              max=1 step=0.01 min=0 oninput="updateScrollValue(this.value, 'top-p-select');">
            <input type="range" class="form-control-range" id="top-p-select" value=0.9 name="top_p" placeholder=0.9 max=1 step=0.01
              min=0 oninput="updateScrollValue(this.value, 'topp-value');">
          </div>
          <!-- <div class="form-group">
            <label for="top-k-select">Top-K</label><i class="bi bi-info-circle small px-1" tabindex="0" data-toggle="popover" data-trigger="hover" title="Top-K"
            data-placement="top"
            data-content="An integer to define the top tokens considered within the sample operation to create new text"></i>
            <input type="number" class="form-control" id="top-k-select" value=0 name="top-k" placeholder=1 max=100
              step=1 min=0>
          </div> -->
          <div class="form-group">
            <label for="stop-sequences">Stop Sequence</label><i class="bi bi-info-circle small px-1" tabindex="0" data-toggle="popover" data-trigger="hover" title="Stop-Sequences"
            data-placement="top"
            data-content="Words or sequences that will prevent the API from generating further"></i>
            <input type="text" class="form-control" id="stop-sequence-value" name="stop" placeholder="Enter stop sequence">
          </div>
          <!-- <div class="form-group">
            <label for="repetition-penalty-select">Repetition Penalty</label><i class="bi bi-info-circle small col"  tabindex="0" data-toggle="popover" data-trigger="hover" title="Repetition Penalty"
            data-placement="top"
            data-content="The more frequently a token is used within text generation the more it is penalized to not be picked in successive generation passes."></i>
            <input type="number" class="float-right rounded border text-center col-md-4" id="repetition-penalty-value" value=1.0 placeholder=1.0
              max=2.0 step=0.01 min=0.0 oninput="updateScrollValue(this.value, 'repetition-penalty-select');">
            <input type="range" class="form-control-range" id="repetition-penalty-select" value=1.0 name="repetition_penalty"
              placeholder=1.0 max=2.0 step=0.01 min=0.0
              oninput="updateScrollValue(this.value, 'repetition-penalty-value');">
          </div>
          <div class="form-group">
            <label for="num-return-sequence-select">Number Return Sequence</label><i class="bi bi-info-circle small px-1" tabindex="0" data-toggle="popover" data-trigger="hover"
            title="Number Return Sequences" data-placement="top"
            data-content="An integer to define the proposition that is desired to be returned."></i>
            <input type="number" class="form-control" id="num-return-sequence-select" value=1 name="num_return_sequences"
              placeholder=1 step=1 min=0>
          </div> -->
          <div class="form-group">
            <label for="module-name-select">Module Name</label><i class="bi bi-info-circle small px-1" tabindex="0" data-toggle="popover" data-trigger="hover" title="Module Names"
            data-placement="top"
            data-content="Information to display how likely was a token to be generated."></i>
            <select class="form-control" id="module-name-select" multiple>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- footer panel -->
  <div class="fixed-bottom bg-white">
    <div class="form-row py-3 d-flex justify-content-center align-items-center">
      <div class="col-auto">
        <button class="btn bg-success text-white" type="submit" value="submit" form="text-submit"
        id="submit-button">Submit</button>
      </div>
      <div class="col-auto">
        <button class="btn bg-success text-white" type="button" id="loader" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Appx. <span id="eta">X</span> seconds
        </button>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-light" onclick='clearText();' tabindex="0" data-toggle="popover" data-trigger="hover"
        data-placement="auto"
        data-content="Reset configurations and clear textbox">Clear</button>
      </div>
      <!-- <div class="col-auto">
        <button type="button" class="btn btn-light" onclick='clearText();' tabindex="0" data-toggle="popover" data-trigger="hover"
        data-placement="auto" data-content="Awesome generation! &#128578;"><i class="bi bi-hand-thumbs-up-fill"></i></button>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-light" onclick='clearText();' tabindex="0" data-toggle="popover" data-trigger="hover"
        data-placement="auto" data-content="Needs improvement &#128528;"><i class="bi bi-hand-thumbs-down-fill"></i></button>
      </div> -->
    </div>
    <footer class="navbar-custom text-center">
      <a class="text-white small">© 2023 Vector Institute</a>
    </footer>
  </div>
{% endblock %}
