<!DOCTYPE html>
<html lang="en">

<head>
  <title>Lingua</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript">
    var EXAMPLES = {
      "news": {
        "prompt": "VECTOR INSTITUTE DEVELOPS ARTIFICIAL INTELLIGENCE FOR HEALTH RECOMMENDATIONS",
        "length": 256
      },
      "arxiv": {
        "prompt": "Abstract\n\nWe introduce large language models, models that",
        "length": 256
      },
      "chatbot": {
        "prompt": "A chat between a teacher and student who wants to learn about tacos.\n\nTeacher: Hi there. What would you like to learn about today?\nStudent:",
        "length": 128
      },
      "question": {
        "prompt": "Question: What color is the sky?\nAnswer: blue\n\nQuestion: Who was the first president of the United States?\nAnswer: George Washington\n\nQuestion: Who is the president in 2022?\nAnswer:",
        "length": 64
      },
      "poetry": {
        "prompt": "A sonnet about life\n\n",
        "length": 128
      },
      "none": {
        "prompt": "",
        "length": 128,
        "temperature": 1,
        "top-p": 0.9,
        "top-k": 0.0,
        "repetition-penalty": 1.0,
        "num-return-sequences": 1
      }
    };

    function set_prompt(name) {
      if (name == "none") {
        $("#textbox").val(EXAMPLES[name]["prompt"]);
        $("#response-length-select").val(EXAMPLES[name]["length"]);
        $("#temperature-select").val(EXAMPLES[name]["temperature"]);
        $("#top-p-select").val(EXAMPLES[name]["top-p"]);
        $("#top-k-select").val(EXAMPLES[name]["top-k"]);
        $("#repetition-penalty-select").val(EXAMPLES[name]["repetition-penalty"]);
        $("#num-return-sequence-select").val(EXAMPLES[name]["num-return-sequences"]);
      }
      else {
        $("#response-length-select").val(EXAMPLES[name]["length"]);
        $("#textbox").val(EXAMPLES[name]["prompt"]);
      }
    };

    $(document).ready(function () {
      $("#text-submit").submit(function (event) {
        loadAnimation();
        var selectedModel = document.getElementById("model-select");
        $.ajax({
          url: "/models/" + selectedModel.options[selectedModel.selectedIndex].value + "/generate_text",
          type: "POST",
          data: $("#text-submit").serialize()
        }).done(function (data) {
          loadCompleteAnimation();
          document.getElementById("textbox").value += "\n\n" + data;
          console.log(data);
        })
          .fail(function () {
            loadFailAnimation();
          });
        event.preventDefault();
      });
    });

    function loadAnimation() {
      document.getElementById("loader").style.display = "inline";
      document.getElementById("submit-button").style.display = "none";
    };

    function loadCompleteAnimation() {
      document.getElementById("loader").style.display = "none";
      document.getElementById("submit-button").style.display = "inline";
      document.getElementById("textbox").style.backgroundColor = "#f6fef6";
    };

    function loadFailAnimation() {
      document.getElementById("loader").style.display = "none";
      document.getElementById("submit-button").style.display = "inline";
      document.getElementById("textbox").style.backgroundColor = "#ffebeb";
    };

    function updateScrollValue(val, id) {
      document.getElementById(id).value = val;
    };

    window.onload = function () {
      document.getElementById("loader").style.display = "none";
    };

    $(function () {
      $('[data-toggle="popover"]').popover()
    })
    $('.popover-dismiss').popover({
      trigger: 'focus'
    })
  </script>
  <style>
    .navbar-custom {
      background-color: #222222;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-sm navbar-custom navbar-dark">
    <a class="navbar-brand" href="/">
      <!-- <img src="" width="30" height="30" class="d-inline-block align-top" alt=""> -->
      Lingua
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Playground</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
      </ul>
    </div>
  </nav>

  <div class="container-fluid mt-3 px-5">
    <div class="row">
      <div class="col">
        <div class="row-fluid col-fluid">
          <div class="d-inline-block">
            <h3 class="d-inline-block">Playground</h3>
            <nav class="navbar navbar-expand-lg navbar-light d-inline-block">
              <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <!-- <a class="nav-link active" aria-current="page" href="#">Template</a> -->
                    <!-- <a class="nav-link" href="/">Feature 1</a> -->
                    <!-- <a class="nav-link" href="#">Feature 2</a> -->
                    <div class="dropdown">
                      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Examples
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href='javascript:set_prompt("news");'>News</a>
                        <a class="dropdown-item" href='javascript:set_prompt("arxiv");'>ML paper</a>
                        <a class="dropdown-item" href='javascript:set_prompt("chatbot");'>Chatbot</a>
                        <a class="dropdown-item" href='javascript:set_prompt("question");'>QA</a>
                        <a class="dropdown-item" href='javascript:set_prompt("poetry");'>Poetry</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <form>
          <div class="form-group">
            {% if text_output %}
            <textarea class="form-control" rows="20" id="textbox" name="prompt"
              form="text-submit">{{ text_output }}</textarea>
            {% else %}
            <textarea class="form-control" rows="20" id="textbox" name="prompt" placeholder="Enter a prompt..."
              form="text-submit" required></textarea>
            {% endif %}
          </div>
          <div>
            <button class="btn bg-success text-white" type="submit" value="submit" form="text-submit"
              id="submit-button">Submit</button>
            <button class="btn bg-success text-white" type="button" id="loader" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Loading...
            </button>
            <button type="button" class="btn btn-light" onclick='javascript:set_prompt("none");'>Clear</button>
          </div>
        </form>
      </div>
      <div class="col-sm-auto">
        <form id="text-submit" name="submit-form">
          <div class="form-group" tabindex="0" data-toggle="popover" data-trigger="hover" title="Models"
            data-placement="left"
            data-content="The large language model which will generate text. Some models are suitable for specified tasks.">
            <label for="model-select">Model</label>
            <select class="form-control" id="model-select">
              {% for types in all_models %}
              {% if types in active_models %}
              <option class="dropdown-item" value={{ types }}> {{ types }}</option>
              {% else %}
              <option disabled title="Inactive model: please start it's model service" class="dropdown-item" value={{
                types }}>{{ types }} (Inactive Service)</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="form-group" tabindex="0" data-toggle="popover" data-trigger="hover" title="Response Length"
            data-placement="left" data-content="An integer to define the maximum number of tokens to generate.">
            <label for="response-length-select">Response Length</label>
            <output class="float-right" id="response-length">128</output>
            <input type="range" class="custom-range" id="response-length-select" value=128 name="length" placeholder=128
              max=512 min=1 onchange="updateScrollValue(this.value, 'response-length');">
          </div>
          <div class="form-group" tabindex="0" data-toggle="popover" data-trigger="hover" title="Temperature"
            data-placement="left" data-content="A decimal to define the temperature of the sampling operation.">
            <label for="temperature-select">Temperature</label>
            <output class="float-right" id="temperature-value">1</output>
            <input type="range" class="custom-range" id="temperature-select" value=1 name="temperature" placeholder=1
              max=1 step=0.1 min=0.1 onchange="updateScrollValue(this.value, 'temperature-value');">
          </div>
          <div class="form-group" tabindex="0" data-toggle="popover" data-trigger="hover" title="Top-P"
            data-placement="left"
            data-content="A decimal to define the tokens that are within the sample operation of text generation">
            <label for="top-p-select">Top-P</label>
            <output class="float-right" id="topp-value">0.9</output>
            <input type="range" class="custom-range" id="top-p-select" value=0.9 name="p" placeholder=0.9 max=1 step=0.1
              min=0.1 onchange="updateScrollValue(this.value, 'topp-value');">
          </div>
          <div class="form-group" tabindex="0" data-toggle="popover" data-trigger="hover" title="Top-K"
            data-placement="left"
            data-content="An integer to define the top tokens considered within the sample operation to create new text">
            <label for="top-k-select">Top-K</label>
            <input type="number" class="form-control id=" top-k-select" value=0.0 name="k" placeholder=1.0 max=100.0
              step=0.1 min=0.0>
          </div>
          <div class="form-group" tabindex="0" data-toggle="popover" data-trigger="hover" title="Repetition Penalty"
            data-placement="left"
            data-content="The more frequently a token is used within text generation the more it is penalized to not be picked in successive generation passes.">
            <label for="repetition-penalty-select">Repetition Penalty</label>
            <output class="float-right" id="repetition-penalty-value">1.0</output>
            <input type="range" class="custom-range" id="repetition-penalty-select" value=1.0 name="repetition_penalty"
              placeholder=1.0 max=100.0 step=1.0 min=0.0
              onchange="updateScrollValue(this.value, 'repetition-penalty-value');">
          </div>
          <div class="form-group" tabindex="0" data-toggle="popover" data-trigger="hover"
            title="Number Return Sequences" data-placement="left"
            data-content="An integer to define the proposition that is desired to be returned.">
            <label for="num-return-sequence-select">Number Return Sequences</label>
            <input type="number" class="form-control" id="num-return-sequence-select" value=1 name="repetition_penalty"
              placeholder=1>
          </div>
        </form>
      </div>
    </div>
  </div>

  <footer class="fixed-bottom navbar-custom text-center">
    <a class="text-white small">Copyright (c) 2022 Vector Institute</a>
  </footer>

</body>

</html>